


*{
    margin: 0;
    padding: 0px;
}

div{

    background-color: #3750B3;
    width: 100vw;
    height: 71px;
    display: flex;
    justify-content: space-around ;        
    align-items: center;            

}



nav{

    display: flex;
    width: 300px;
    height: 50px;
    align-items: center;
    justify-content: space-between ;

}

a{
    color: white;
    display: flex;
    width: 60px;
    height: 100% ;
    text-decoration: none ;
    align-items: center;
    font-weight: 100;


}

.imgs{
    padding-top: 103px;
    padding-bottom: 80px;
    display: flex;
    align-content: center;
    width: 1060px;
    height: 427px;


}

/* 
justify-content
align-items
flex-direction
order
align-self
flex-wrap
flex-flow
align-content */